address: x.y.z.w
private_key: AaBbCcDd...=
peer_endpoint: wg.server.example
peer_public_key: EeFfGgHh...=

# Optional netmask (this is the default, no outgoing traffic
# will pass through the tunnel if omitted)
netmask: 255.255.255.255

# Optional endpoint port (WireGuard default if omitted)
peer_port: 51820

# Optional pre-shared key (omit if not in use)
peer_preshared_key: XxYyZzWw...=

# Optional list of ip/mask (any host is allowed if omitted)
peer_allowed_ips:
- x.y.z.0/24
- l.m.n.o/32  # the /32 can be omitted for single host
- [...]

# Optional keepalive (disabled by default)
peer_persistent_keepalive: 25s